Meta
doc
inst/doc
.Rproj.user
*.o
*.so
.Rhistory
prediction-grids/*
*.rds
!data/*.rds
!data/spatial/*.rds
!data/preds/*.rds
data/fits/*.rds
figs/sopo_figs/
figs/mesh_comparison/
.DS_Store
R/hidden/
*.dll